* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.rdpizza {
  display: flex;
  flex-flow: column;
  background-color: #CCC;
  padding: 1em;
}
.rdpizza__pizza {
  z-index: 2;
  flex: 1;
  width: 100%;
  padding: 1em;
  background-color: #AAA;
}
.rdpizza__pizza img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}
.rdpizza__pizza--loading img {
  animation: rotate 1.5s cubic-bezier(1,.01,0,.99);
}
.rdpizza h3 {
  z-index: 1;
  width: 100%;
  padding: 1em;
  margin: 0 0 1em;
  background-color: #BBB;
  text-align: center;
}
.rdpizza button {
  appearance: none;
  height: 48px;
  background-color: #AAA;
}
@keyframes rotate {
  from { 
    transform: rotate(0deg); 
  }
  to { 
    transform: rotate(4320deg); 
  }
}