* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.rdpizza {
  display: flex;
  flex-flow: column;
  background-color: #CCC;
  padding: 1em;
}
.pizza {
  z-index: 2;
  flex: 1;
  width: 100%;
  padding: 1em;
  background-color: #AAA;
}
.pizza > img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}
.pizza--loading > img {
  animation: randomize 1.5s cubic-bezier(1,.01,0,.99);
}
.pizza__info {
  display: flex;
  padding-top: 1em;
  justify-content: space-between;
}
h3 {
  z-index: 1;
  width: 100%;
  padding: 1em;
  margin: 0 0 1em;
  background-color: #BBB;
  text-align: center;
}
button {
  appearance: none;
  height: 48px;
  background-color: #AAA;
}
@keyframes randomize {
  from { 
    transform: rotate(0deg); 
  }
  to { 
    transform: rotate(4320deg); 
  }
}